Musicalog/Musicalog/Service References/Service/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVAlbums">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VAlbums" nillable="true" type="tns:VAlbums" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVAlbums" nillable="true" type="tns:ArrayOfVAlbums" />
  <xs:complexType name="VAlbums">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VAlbums" nillable="true" type="tns:VAlbums" />
  <xs:complexType name="Albums">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumType" nillable="true" type="tns:AlbumType" />
      <xs:element minOccurs="0" name="AlbumTypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ArtistId" type="xs:int" />
      <xs:element minOccurs="0" name="Artists" nillable="true" type="tns:Artists" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LabelId" type="xs:short" />
      <xs:element minOccurs="0" name="Labels" nillable="true" type="tns:Labels" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Albums" nillable="true" type="tns:Albums" />
  <xs:complexType name="AlbumType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Albums" nillable="true" type="tns:ArrayOfAlbums" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumType" nillable="true" type="tns:AlbumType" />
  <xs:complexType name="ArrayOfAlbums">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Albums" nillable="true" type="tns:Albums" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbums" nillable="true" type="tns:ArrayOfAlbums" />
  <xs:complexType name="Artists">
    <xs:sequence>
      <xs:element minOccurs="0" name="Albums" nillable="true" type="tns:ArrayOfAlbums" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artists" nillable="true" type="tns:Artists" />
  <xs:complexType name="Labels">
    <xs:sequence>
      <xs:element minOccurs="0" name="Albums" nillable="true" type="tns:ArrayOfAlbums" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Labels" nillable="true" type="tns:Labels" />
</xs:schema>