Musicalog/Musicalog/Service References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50034/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50034/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50034/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Musicalog.Service" />
      <xsd:import schemaLocation="http://localhost:50034/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Musicalog.Service.Responses" />
      <xsd:import schemaLocation="http://localhost:50034/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer" />
      <xsd:import schemaLocation="http://localhost:50034/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetListAlbums_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAlbums" />
  </wsdl:message>
  <wsdl:message name="IService_GetListAlbums_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAlbumsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBasicAlbumLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicAlbumLists" />
  </wsdl:message>
  <wsdl:message name="IService_GetBasicAlbumLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicAlbumListsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSpecificAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificAlbum" />
  </wsdl:message>
  <wsdl:message name="IService_GetSpecificAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertOrUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdate" />
  </wsdl:message>
  <wsdl:message name="IService_InsertOrUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAlbums">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListAlbums" message="tns:IService_GetListAlbums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListAlbumsResponse" message="tns:IService_GetListAlbums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasicAlbumLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBasicAlbumLists" message="tns:IService_GetBasicAlbumLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBasicAlbumListsResponse" message="tns:IService_GetBasicAlbumLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificAlbum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSpecificAlbum" message="tns:IService_GetSpecificAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSpecificAlbumResponse" message="tns:IService_GetSpecificAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertOrUpdate" message="tns:IService_InsertOrUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertOrUpdateResponse" message="tns:IService_InsertOrUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Delete" message="tns:IService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteResponse" message="tns:IService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAlbums">
      <soap:operation soapAction="http://tempuri.org/IService/GetListAlbums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicAlbumLists">
      <soap:operation soapAction="http://tempuri.org/IService/GetBasicAlbumLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificAlbum">
      <soap:operation soapAction="http://tempuri.org/IService/GetSpecificAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdate">
      <soap:operation soapAction="http://tempuri.org/IService/InsertOrUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:50034/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>